.logbody{
    display:flex;
    align-items:center;
    height:100vh;
    justify-content:center;
 
}
h2, h3, h4,h5{
    text-align: center;
    color: rgb(122, 122, 122);
}
form{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
.field{
    background: #f2f8fd;
    border: 1px thin #dee7ef;
    border-radius: 6px;
    font-weight: 500;
    text-align: left;
    position: relative;
    overflow: hidden;
    margin-top: 10px; 
}

.field input {
    background: transparent;
    font-size: 14px;
    color: #596474;
    padding: 14px 15px;
    padding-right: 7px;
    width: 100%;
    position: relative;
    transition-property: padding,color;
    transition-duration: .3s;
    transition-timing-function: ease;
}
#form2{
    display: none;
}
 #form3{
     display: none;
 }
 
.signin, .request-new-password{
margin-top: 30px;
}
.row button {
    display: block;
    background: #fe8c00;
    color: #fff;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    padding: 12px 0;
    border: 1px solid transparent;
    transition: all .4s ease;
}
.formsec{
    border:  2px thin #cccccc;
    padding:30px;
    border-radius:9px;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
   
}
a{
    text-decoration: none;
}
.wrapper {
    display: flex;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fe8c00;
    color: #fff;
    transition: all 0.3s;
    border-right: 2px solid #838386;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
ul.list-unstyled li {
    font-size: 14px;
    letter-spacing: 1px;
    color: #7d7d7d;
}
#sidebar ul li a {
    padding: 16px 10px;
    font-size: .95em;
    letter-spacing: 0.6px;
    display: block;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}
#sidebar ul li a:hover{
    background: #7d7d7d;
    font-weight: bold;
} 
h2.layout{
    font-size: 2.7em;
    letter-spacing: 4px;
    color: #292929;
    text-shadow: 2px 2px 3px #838386;
    text-transform: capitalize;
    font-weight:lighter;

} 
nav, section {
    display: block;
}
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    overflow: hidden;
    width: 100%;
    align-items: center;
}
#sidebar .sidebar-header {
    padding: 10px;
    background: #fff;
   
}
.form-control{
    box-shadow: none !important;
    border:1px thin #fff !important;
}
input::placeholder, option, .selected {
   opacity: 0.7 !important;
   font-style: italic;
  }
  select , textarea{
    font-style: italic !important;
    opacity:0.7 !important;
  }
  option:not(:first-of-type) {
    color: black !important;
    
  }
  #content a{
      text-decoration:none;
  }
  
  .inner{
      padding:30px;
  }
.dashbox{
    margin-top:30px;
}
.inner{
    font-size: 2.7em;
    letter-spacing: 4px;
    color: #292929;
    text-shadow: 2px 2px 3px #838386;
    text-transform: capitalize;
    font-weight:lighter;
}
.form-group{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
 
}
